<h1>Super heroes logo</h1>
<table class="styled">
<table border =1>
	<tr>
		<td><img src ="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Superman_S_symbol.svg/1853px-Superman_S_symbol.svg.png" width="200"></td>
		<td><img src ="https://logos-marcas.com/wp-content/uploads/2020/12/Batman-Logotipo-1966-presente.jpg" width="200"></td>
	</tr>
	<tr>
		<td><img src ="https://w7.pngwing.com/pngs/873/787/png-transparent-spiderman-logo-spider-man-logo-marvel-comics-spider-man-heroes-monochrome-symmetry.png" width="200"></td>
		<td><img src ="https://i.etsystatic.com/15492164/r/il/f5dd76/1922065802/il_fullxfull.1922065802_pf0n.jpg" width="200"></td>
	<tr>
