<table class="styled">
<table border =1>
	<tr style="background-color: rgb(0,153,76);">
		<th><FONT COLOR="white">Rank</th>
		<th><FONT COLOR="white">Name</th>
		<th><FONT COLOR="white">Points</th>
		<th><FONT COLOR="white">Team</th>
	</tr>
	<tr>
		<td>1</td>
		<td>Domenic</td>
		<td>88,110</td>
		<td>dcode</td>
	</tr>
	<tr style="background-color: rgb(160,160,160);">
		<td><FONT COLOR="green">2</td>
		<td><FONT COLOR="green">Sally</td>
		<td><FONT COLOR="green">72,400</td>
		<td><FONT COLOR="green">Students</td>
	</tr>
	<tr>
		<td>3</td>
		<td>Nick</td>
		<td>52,300</td>
		<td>dcode</td>
	</tr>
